.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  display:inline-flex;
  flex-direction: row;
  margin-right: auto;
  position: relative;

}
h2 {
  font-size: small;
  
}
#Clipboard {
  border-radius: 10px;
  min-width: 100px;
  max-width: 100px;
  min-height: 175px;
  max-height: 175px;
  box-sizing: border-box;
  border-color: yellow;
  border-style: solid;
  text-wrap: wrap;
}
#Font{
  border-radius: 10px;
  max-width: 10000px;
  min-height: 175px;
  max-height: 175px;
  box-sizing: border-box;
  border-color: yellow;
  border-style: solid;
  text-wrap: wrap;
}
box {
  
}

.gone{
  display: none;
}
.here{
  text-align: left;
  display: inline-flex;
  flex-direction: row;
  position: relative;
  /*flex-wrap: wrap;*/
  justify-content: left;
}
textarea{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
/*
#sub {
  display: none;
}
*/


